/* Fonts */

@font-face {
    font-family: Poiret;
    src: url(/fonts/PoiretOne-Regular.ttf);
}

body {
    font-family: Poiret, sans-serif;
}

/* Header Styles */

header {
    padding-top: 20px;
    text-align: center;
}

header h1 {
    margin: 0px 0px 10px;
    color: #335766;
    font-size: 6em;
}

/* Nav Bar Styling */

nav {
    background-color: #4e828d;
    border-top: 2px solid #4e828d;
    border-bottom: 2px solid #4e828d;
}

nav ul {
    text-align: center;
    padding: 0;
}

nav ul li {

    width: 14%;
    font-size: 1.2em;
    display: inline-block;
    text-decoration: none;
    padding: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 7px 0 7px;
}

nav a:hover {
    background-color: white;
    border-radius: 3px;
    color: #335766;
}

/* Main Content Styling */
.wrapper {
    width: 80%;
    margin: 0 auto;
}

/* Resume Styling */

/* Contact Styling */

.contact {
    margin-top:10px;
    text-align: center;
}

.contact h2 {
    display: inline-block;
    font-size: 2em;
    vertical-align: top;
}

.contact_icon {
    width: 60px;
    border: 2px solid #4e828d;
    border-radius: 50%;
    padding: 5px;
}

iframe {
    margin-top: 20px;
    margin-bottom: 30px;
}

.contact a {
    display: inline-block;
}

.contact a:hover {
    background-color: #4e828d;
    border-radius: 50%;
}

/* Resume Styling */

#resume ul,
#resume li {
    list-style-type: none;
}

/* Footer Styling */
.pageWrap {
    min-height: 100%;
    margin-bottom: -60px; 
}

.pageWrap:after {
    content: "";
    display: block;
}

footer, .pageWrap:after {
    height: 60px; 
}

footer {
    background-color: #4e828d;
}

#footerContent {
    width: 80%;
    height: 60px;
    margin: 0 auto;

}

#copyright {
    font-size: 1.2em;
    color: white;
    float: right;
    margin-top: 20px;
}

/* clearfix */
.clearfix {
    content: "";
    display: table;
    clear: both;
}